{% extends "layout.html"%}
{% block body %}
    <div class="container content">
      <hr></hr>
      {% if session.logged_in %}
      <form action="." class="form" id="note-form" method="post">
        <button class="btn btn-primary btn-xs" type="submit">
          <span class="glyphicon glyphicon-plus"></span> Add Note
        </button>
        <textarea class="form-control" id="content" name="content"></textarea>
      </form>
      {% endif %}
      <ul class="list-unstyled notes">
        {% for note in notes %}
          {% include "note.html" %}
        {% endfor %}
      </ul>
      <div style="clear:both;"></div>
    </div>
{% endblock %}
