{% extends "layout.html" %}
{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a simple blog powered by Flask, Mongodb, Nginx.</p>
        <p>The source code is powered by <a href="http://charlesleifer.com/blog/saturday-morning-hack-a-little-note-taking-app-with-flask/"alt="charlesleifer" class="btn btn-primary btn-lg" role="button">Charlesleifer</a></p>
      </div>
    </div>
    <div class="container content">
      <!--div class="page-header">
        <h1>Notes</h1>
      </div-->
      <ul class="list-unstyled notes">
        {% for note in notes %}
          {% include "list.html" %}
        {% endfor %}
      </ul>
      <div style="clear:both;"></div>
    </div>
{% endblock %}