<html class="linux chrome" lang="zh" prefix="og: http://ogp.me/ns#"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>我们都是程序员 — 阅乎</title>
  <meta name="csrf-token" content="1403702073.67##85236a96b7628769b9c7184932d0c3e4e79e076f">
    <meta name="google-analytics" content="UA-34098939-2">
  <meta name="yh:cloud:url" content="https://dn-yuehu.qbox.me/">
  <meta name="yh:substitute:url" content="//dn-yueimg.qbox.me/">
  <meta name="yh:substitute:token" content="0x24FEEDFACEDEADBEEFCAFE">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="72x72" href="//dn-yuehu.qbox.me/apple-touch-144.png">
  <link rel="apple-touch-icon" sizes="144x144" href="//dn-yuehu.qbox.me/apple-touch-144.png">
  <link rel="stylesheet" href="//dn-yuehu.qbox.me/s/2b770.css">
  <script async="" src="//www.google-analytics.com/analytics.js"></script><script src="//dn-yuehu.qbox.me/s/280ba.js"></script>
  <script>require('yuehu').boot()</script>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/eggjaaihinpppofbllpdboemabgljaie">
  <meta name="description" content="论程序员的重要性：「我们就差一个写代码的了」。">
  <link rel="alternate" type="application/atom+xml" title="Subscribe Feed" href="/be-a-programmer/feed">
  <link rel="canonical" href="/be-a-programmer">
    <meta property="og:url" content="https://yuehu.io/be-a-programmer">
    <meta property="og:site_name" content="阅乎">
    <meta property="og:type" content="website">
      <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@_yuehu">
  <meta name="twitter:domain" content="yuehu.io">
  <meta name="twitter:title" content="我们都是程序员">
  <meta name="twitter:description" content="论程序员的重要性：「我们就差一个写代码的了」。">
    <meta name="twitter:image" content="https://dn-yuehu.qbox.me/cover/be-a-programmer/fmkUryPkpLB8UKqY.png/cover">
    <meta property="og:title" content="我们都是程序员">
    <meta property="og:image" content="https://dn-yuehu.qbox.me/cover/be-a-programmer/fmkUryPkpLB8UKqY.png/cover">
    <meta property="og:description" content="论程序员的重要性：「我们就差一个写代码的了」。">

    <style>
      .entry-list .item a:hover {
        color: #000000;
      }
    </style>
</head><style type="text/css">embed[type*="application/x-shockwave-flash"],embed[src*=".swf"],object[type*="application/x-shockwave-flash"],object[codetype*="application/x-shockwave-flash"],object[src*=".swf"],object[codebase*="swflash.cab"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"],object[classid*="d27cdb6e-ae6d-11cf-96b8-444553540000"],object[classid*="D27CDB6E-AE6D-11cf-96B8-444553540000"]{	display: none !important;}</style>
<body>
  <div class="header-cover" style="background-image:url(https://dn-yuehu.qbox.me/cover/be-a-programmer/fmkUryPkpLB8UKqY.png/cover);">
    <div class="menu">
      <div class="container">
        <div class="menu-sub">
            <a class="button glass" href="/me/signin">登录</a>
        </div>
      </div>
    </div>
    <div class="header-cover-container">
      <h1 class="header-title">
        <a href="/be-a-programmer">我们都是程序员</a>
      </h1>

      <p class="header-description">论程序员的重要性：「我们就差一个写代码的了」。</p>
        
    </div>
  </div>
  <div class="main-body container ga-collection" data-slug="be-a-programmer">
    <div class="wrapper">
      
      <div class="content-body yue">
        <div class="entry-list">
            

  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://blog.youxu.info/2014/06/10/postscript/" itemprop="url" target="_blank">编程珠玑番外篇-P PostScript 语言里的珠玑</a>
    </h2>
        <a class="entry-referee" href="/u/astrum" title="推荐人 astrum">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/c5d3c59e2c625d3308b6f1cb40124987/small" alt="astrum">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/336">2014-06-25</a>
        <span class="dot">·</span>
        <a href="http://blog.youxu.info/2014/06/10/postscript/">blog.youxu.info</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/336">
      本文原发于《程序员》2014年6月刊，发表时略有修改。 首位 ACM 图灵奖得主 Alan Perlis 曾说过：“如果一门编程语言不能影响你的思维，就没有学的必要’。尽管能通过这个严苛测试的语言稀稀朗朗，在我看来，PostScript 在这个测试中至少得 A。作为一个着重于平面...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://coolshell.cn/articles/11609.html" itemprop="url" target="_blank">TCP 的那些事儿（下）</a>
    </h2>
        <a class="entry-referee" href="/u/astrum" title="推荐人 astrum">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/c5d3c59e2c625d3308b6f1cb40124987/small" alt="astrum">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/297">2014-05-28</a>
        <span class="dot">·</span>
        <a href="http://coolshell.cn/articles/11609.html">coolshell.cn</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/297">
      这篇文章是下篇，所以如果你对TCP不熟悉的话，还请你先看看上篇《TCP的那些事儿（上）》 上篇中，我们介绍了TCP的协议头、状态机、数据重传中的东西。但是TCP要解决一个很大的事，那就是要在一个网络根据不同的情况来动态调整自己的发包的速度，小则让自己的连接更稳定，大则让整个网络更...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://coolshell.cn/articles/11564.html" itemprop="url" target="_blank">TCP 的那些事儿（上）</a>
    </h2>
        <a class="entry-referee" href="/u/astrum" title="推荐人 astrum">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/c5d3c59e2c625d3308b6f1cb40124987/small" alt="astrum">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/296">2014-05-28</a>
        <span class="dot">·</span>
        <a href="http://coolshell.cn/articles/11564.html">coolshell.cn</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/296">
      TCP是一个巨复杂的协议，因为他要解决很多问题，而这些问题又带出了很多子问题和阴暗面。所以学习TCP本身是个比较痛苦的过程，但对于学习的过程却能让人有很多收获。关于TCP这个协议的细节，我还是推荐你去看W.Richard Stevens的《TCP/IP 详解 卷1：协议》（当然，...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="https://github.com/interagent/http-api-design" itemprop="url" target="_blank">HTTP API Design Guide</a>
    </h2>
        <a class="entry-referee" href="/u/lepture" title="推荐人 Hsiaoming">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83a5c46f52b4835e6048159bfa85478e/small" alt="Hsiaoming">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/293">2014-05-27</a>
        <span class="dot">·</span>
        <a href="https://github.com/interagent/http-api-design">github.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/293">
      HTTP API Design Guide Introduction This guide describes a set of HTTP+JSON API design practices, originally extracted from work on the Herok...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://blog.youxu.info/2014/05/11/language-and-vm/" itemprop="url" target="_blank">编程珠玑番外篇之番外篇-O 中间语言和虚拟机漫谈</a>
    </h2>
        <a class="entry-referee" href="/u/astrum" title="推荐人 astrum">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/c5d3c59e2c625d3308b6f1cb40124987/small" alt="astrum">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/272">2014-05-13</a>
        <span class="dot">·</span>
        <a href="http://blog.youxu.info/2014/05/11/language-and-vm/">blog.youxu.info</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/272">
      本文原发于《程序员》2014年3月刊 导言 编程语言的发展历史，总的来说，是一个从抽象机器操作逐步进化为抽象人的思维的过程。机器操作和人的思维如一枚硬币的两面，而语言编译器就像是个双面胶，将这两面粘在一起，保证编程语言源程序和机器代码在行为上等价。当然，人本身并不是一个完美的编译...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://blog.youxu.info/21-days/" itemprop="url" target="_blank">十年学会程序设计</a>
    </h2>
        <a class="entry-referee" href="/u/lepture" title="推荐人 Hsiaoming">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83a5c46f52b4835e6048159bfa85478e/small" alt="Hsiaoming">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/271">2014-05-13</a>
        <span class="dot">·</span>
        <a href="http://blog.youxu.info/21-days/">blog.youxu.info</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/271">
      为何大家如此匆忙? 走进任何一家书店，你会看到书架上一排不见尽头的放着如 &lt;7天自学Java语言&gt; 以及几天或者几小时学会Windows, 因特网或者Visual Basic 这类书。我在Amazon 网上书店用一下的方式进行高级搜索: 出版年份: 1992以后 书名包括：“天”...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>

  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://localhost-8080.com/2014/02/story-of-alice-and-bob/" itemprop="url" target="_blank">Alice 和 Bob 的故事</a>
    </h2>
        <a class="entry-referee" href="/u/lepture" title="推荐人 Hsiaoming">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83a5c46f52b4835e6048159bfa85478e/small" alt="Hsiaoming">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/247">2014-04-29</a>
        <span class="dot">·</span>
        <a href="http://localhost-8080.com/2014/02/story-of-alice-and-bob/">localhost-8080.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/247">
      没错，这篇内容写的就是上一篇开头提到的那个“极其无聊的问题”。本来不打算写的，既然研究过，还是整理出来纪念一下。 不论是看艰深的论文，还是看 那 些 geek 漫画，总能看到 Alice 和 Bob 这两个名字出现。已经记不起来第一次见到这对名字是在哪里了，总之从一开始就默默接受...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://yedingding.com/2014/03/20/fengcheco-architecture.html" itemprop="url" target="_blank">『风车』技术架构介绍</a>
    </h2>
        <a class="entry-referee" href="/u/yedingding" title="推荐人 yedingding">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83c8cca11558f32207645ca270ae8475/small" alt="yedingding">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/228">2014-04-21</a>
        <span class="dot">·</span>
        <a href="http://yedingding.com/2014/03/20/fengcheco-architecture.html">yedingding.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/228">
      上周末，应邀在 Hacker News 上海聚会和 Ruby 上海活动上做了『风车』架构介绍的分享，在此感谢各位组织者和活动场地提供方。 风车这个项目开始于 2011 年 11 月份，之前叫做 Pragmatic.ly。从第一天开始我们基本上就定了大致的框架结构，在今天回头看，基...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://www.chris-granger.com/2014/03/27/toward-a-better-programming/" itemprop="url" target="_blank">Toward a better programming</a>
    </h2>
        <a class="entry-referee" href="/u/wong2" title="推荐人 wong2">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/c4304a7108b702fabbaac8484393c18b/small" alt="wong2">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/172">2014-04-05</a>
        <span class="dot">·</span>
        <a href="http://www.chris-granger.com/2014/03/27/toward-a-better-programming/">www.chris-granger.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/172">
      27 Mar 2014 this post is based on my talk, "Finding a way out", from Strange Loop 2013 When I built the original prototype of Light Table I ...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://arch.acgtyrant.com/2014/02/01/cli-vs-gui/" itemprop="url" target="_blank">深析 CLI vs GUI</a>
    </h2>
        <a class="entry-referee" href="/u/acgtyrant" title="推荐人 acgtyrant">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/9b77f023df87d33060c3689208a8d970/small" alt="acgtyrant">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/161">2014-04-02</a>
        <span class="dot">·</span>
        <a href="http://arch.acgtyrant.com/2014/02/01/cli-vs-gui/">arch.acgtyrant.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/161">
      注意：該文假設您具備高等數學知識，能熟練操作 Linux 以能夠日常使用，暸解 TeX, i3 等工具，有一定的計算機科學知識，且擁有良好的正版消費觀。此外在下從未接觸過 Mac OS X 系統，所以對 GUI 的評估可能會有認識上的不足。 CLI 與 GUI 的可操作性定義 宛...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://arch.acgtyrant.com/2014/03/23/head-first-information-security/" itemprop="url" target="_blank">信息安全的一次深入淺出</a>
    </h2>
        <a class="entry-referee" href="/u/acgtyrant" title="推荐人 acgtyrant">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/9b77f023df87d33060c3689208a8d970/small" alt="acgtyrant">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/156">2014-03-31</a>
        <span class="dot">·</span>
        <a href="http://arch.acgtyrant.com/2014/03/23/head-first-information-security/">arch.acgtyrant.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/156">
      繼 深析 CLI vs GUI 之後，接著就是信息安全上的一次深入淺出了。不過在下並不打算全憑一人之力講全，而是給大家按圖索驥的一張好圖。此外在下並非信息安全專業人士，難免疏漏，敬請讀者斧正。 通過本圖，您可以索到信息安全觀、數論上的眾多概念及原理、RSA 算法原理、Hash 入...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://kavinyao.tumblr.com/post/80855272698/abc-always-be-coding" itemprop="url" target="_blank">ABC: Always Be Coding</a>
    </h2>
        <a class="entry-referee" href="/u/lepture" title="推荐人 Hsiaoming">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83a5c46f52b4835e6048159bfa85478e/small" alt="Hsiaoming">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/144">2014-03-27</a>
        <span class="dot">·</span>
        <a href="http://kavinyao.tumblr.com/post/80855272698/abc-always-be-coding">kavinyao.tumblr.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/144">
      标题：不要停止编程：如何谋得一个工程职位。 原文：David Byttow 实话实说吧。你是个好的工程求职者吗？你如何衡量自己？面试过多少公司？你的现场面试/offer比是多少？根据下面的公式算一算（这是我拍脑袋想出来的，别太在意）： # x = 去过现场面试公司的数量 # y ...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://blog.csdn.net/myan/article/details/3247071" itemprop="url" target="_blank">技术路线的选择重要但不具有决定性</a>
    </h2>
        <a class="entry-referee" href="/u/hustlzp" title="推荐人 hustlzp">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/a4ae9ee239aa66109e7a44e2edb2d757/small" alt="hustlzp">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/134">2014-03-25</a>
        <span class="dot">·</span>
        <a href="http://blog.csdn.net/myan/article/details/3247071">blog.csdn.net</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/134">
      最近微软在技术上连续有大动作，在PDC上发布了Windows Azure云计算平台，预告了Visual Studio 2010、.NET 4.0和C# 4.0。如果放在几年前，我相信微软粉丝们一定是欢声雷动，不过这次情况有点不太一样，在网上看到有人在抱怨微软技术更新速度太快而且四...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://www.ruanyifeng.com/blog/2014/02/ssl_tls.html" itemprop="url" target="_blank">SSL/TLS协议运行机制的概述</a>
    </h2>
        <a class="entry-referee" href="/u/lepture" title="推荐人 Hsiaoming">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83a5c46f52b4835e6048159bfa85478e/small" alt="Hsiaoming">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/133">2014-03-25</a>
        <span class="dot">·</span>
        <a href="http://www.ruanyifeng.com/blog/2014/02/ssl_tls.html">www.ruanyifeng.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/133">
      互联网的通信安全，建立在SSL/TLS协议之上。 本文简要介绍SSL/TLS协议的运行机制。文章的重点是设计思想和运行过程，不涉及具体的实现细节。如果想了解这方面的内容，请参阅RFC文档。 一、作用 不使用SSL/TLS的HTTP通信，就是不加密的通信。所有信息明文传播，带来了三...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="http://blog.youxu.info/2011/10/14/notes-on-the-unix-haters-handbook/" itemprop="url" target="_blank">UNIX 痛恨者手册读后笔记</a>
    </h2>
        <a class="entry-referee" href="/u/lepture" title="推荐人 Hsiaoming">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83a5c46f52b4835e6048159bfa85478e/small" alt="Hsiaoming">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/126">2014-03-24</a>
        <span class="dot">·</span>
        <a href="http://blog.youxu.info/2011/10/14/notes-on-the-unix-haters-handbook/">blog.youxu.info</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/126">
      October 14, 2011 UNIX 痛恨者手册[PDF]可以算是一本奇书了。一般的技术书，写作缘由大多是作者特别喜欢某样技术，兴高采烈地拿出来和读者分享。而此书的几个作者，都是因为恨 UNIX 恨到“人生长恨水长东”的境界了，于是乎搞了个邮件组，广泛收集各种愤怒，最后基于...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>
  <div class="item" itemscope="" itemtype="http://schema.org/Article">
    <h2 class="entry-title" itemprop="name">
        <span class="icon-link"></span>
        <a href="https://github.com/lifesinger/lifesinger.github.com/issues/184" itemprop="url" target="_blank">Web 研发模式演变</a>
    </h2>
        <a class="entry-referee" href="/u/lepture" title="推荐人 Hsiaoming">
      <img class="photo" src="https://dn-yuehu.qbox.me/avatar/83a5c46f52b4835e6048159bfa85478e/small" alt="Hsiaoming">
  </a>

    <div class="entry-meta">
      <a href="/be-a-programmer/121">2014-03-22</a>
        <span class="dot">·</span>
        <a href="https://github.com/lifesinger/lifesinger.github.com/issues/184">github.com</a>
    </div>
    <a class="entry-snippet" itemprop="description" href="/be-a-programmer/121">
      前不久徐飞写了一篇很好的文章：Web 应用的组件化开发。本文尝试从历史发展角度，说说各种研发模式的优劣。 一、简单明快的早期时代 可称之为 Web 1.0 时代，非常适合创业型小项目，不分前后端，经常 3-5 人搞定所有开发。页面由 JSP、PHP 等工程师在服务端生成，浏览器负...
      <span class="view-on-yuehu">在阅乎阅读</span>
    </a>
  </div>

  <div class="cursor" data-cursor="121"></div>
        </div>
      </div>
    </div>
  </div>
  <script>require('yuehu/lib/collection').profile();</script>

</body></html>
