<li class="note col-xs-12 col-sm-6 col-lg-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{ note.timestamp.strftime('%Y-%m-%d %H:%M:%S').lower()
      }}
      <!--a
        class="btn btn-danger btn-xs archive-note pull-right"
        data-note="{{ note.id }}"
        href="{{ url_for('archive_note', id=note.id) }}">A</a>
      <a class="btn btn-danger btn-xs archive-note pull-right"
        data-note="{{ note.id }}"
        href="{{ url_for('delete', id=note.id) }}">X</a--!>
    </div>
    <div class="panel-body">
      {{ note.html() }}
    </div>
  </div>
</li>
